
<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans:400,700&amp;display=fallback" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans:400,700&amp;display=fallback" >

    <!-- Local files -->
    <style>{% include "css/critical.css" %}</style>
    <style>{% include "css/styles.css" %}</style>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>

    <title>{% block title %}{% trans "Home" %}{% endblock %}{% block title_suffix %} {{ site[locale].titleSuffix }}{% endblock %}</title>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div id="skip-link-container"><a href="#page--content" id="skip-link">{% trans "Skip to main content" %}</a></div>
    <div class="container">
      <header>
        <div class="page--container">
          <div class="fip-container">
            {% include  "partials/FIP_header.html" %}
            {% include  "partials/language_switcher.html" %}
          </div>
        </div>
        <div class="page--container">
          <div id="site-name">
            {% trans "COVID Alert Documentation" %}
            <img class="print-only" src="img/logo-minimal.svg" alt="" />
          </div>
        </div>
      </header>
      <main id="content">
        {% include  "partials/nav_main.html" %}

        <div class="page--container" id="page--content" tabindex="-1">
          <div class="content--container {% block content_class %}{% endblock %}">
            {% block content %}{% endblock %}
          </div>
        </div>

      </main>

      {% include  "partials/footer.html" %}

    </div>
  </body>
</html>
